@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-items__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 40px;
}
.nav-items__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 27px;
}

.nav-items__link {
  text-decoration: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Grey/900 */

  color: #161518;
}

.header__search-bar--container {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px; */
}
.header__search-bar {
  /* display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e7ea;
  gap: 16px; */
}
.search-icon__container {
  /* width: 20px;
  height: 20px; */
}
input {
  /* padding: 20px 0; */
}

.header__search-bar--container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.header__search-bar {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e8e7ea;
  gap: 16px;
}
.header__search-bar input {
  padding: 12px;
  /* height: 30px; */
  border: none;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* padding-left: 16px; */
  color: #301104;

  opacity: 0.4;
}
.header__search-bar input:focus {
  outline: none;
}
.header__search-bar input::placeholder {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* padding-left: 16px; */
  color: #301104;

  opacity: 0.4;
}
.header__search-btn {
  display: flex;
  align-items: center;
  /* width: 31%; */
  justify-content: flex-end;
}
.header__arrowdown--icon {
  padding: 12px 8px;
  opacity: 0.4;
  margin-right: 8px;
  margin-left: 8px;
}
.nav-cta__btn {
  padding: 12px 24px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  text-align: center;
  color: #ffffff;
  background: #f05513;
  border-radius: 8px;
}

.mobile-nav {
  width: 80vw;
  /* height: 100vh; */
  background-color: red;
  display: none;
}
.menu__buttons--open {
  display: none;
}
.menu__button--open {
  width: 20px;
  height: 4px;
  background-color: #f05513;
}
.menu__buttons--close {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  padding: 20px;
}
.menu__button {
  width: 20px;
  height: 4px;
  background-color: white;
}
.mobile-nav-items__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: red;
  width: fit-content;
  margin: 0 auto;
}
.mobile-nav-items__links li {
  padding: 24px;
  text-align: center;
  text-decoration: none;
  width: 250px;
  /* border: yellow solid 1px; */
}
.mobile-nav-items__links li:hover {
  border-radius: 8px;
  background-color: #f05513;
}
.mobile-nav-items__link {
  text-decoration: none;
}
@media (max-width: 1300px) {
  .header__search-bar {
    display: none;
  }
  .header__search-btn img {
    display: none;
  }
}
@media (max-width: 750px) {
  .header__search-bar {
    display: none;
  }
  .header__search-btn img {
    display: none;
  }
  .nav-cta__btn {
    display: none;
  }
  .nav-items__links {
    display: none;
  }
  .menu__buttons--open {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
    padding: 20px;
  }
}
